<!DOCTYPE html>
<html>
    <head>
        <title>Constitución de Chile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

        <!-- Knockout JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body class="uk-container">
        <div>
            <div th:replace="top"></div>

            <div uk-grid >

                <!-- MENU -->
                <div th:replace="menu"></div>

                <div class="uk-width-3-4" uk-grid>
                    <div th:if="${!data.error}" >

                        <article class="uk-article">
                            <br>
                            <p><b>[[${data.capitulo.title}]]</b>
                                <br>[[${data.seccion.title}]]
                            <hr>
                            <!--<p><b>[[${data.articulo.title}]]</b>-->

                            <div th:replace="${data.articulo.fragment}"></div>

                            <hr>

                            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                <div th:if="${data.articuloPrev != null}" >
                                    <div><a class="uk-button uk-button-text" th:href="@{${data.articuloPrev.href}}">[[${data.articuloPrev.title}]]</a></div>
                                </div>
                                <div th:if="${data.articuloNext != null}" >
                                    <div><a class="uk-button uk-button-text" th:href="@{${data.articuloNext.href}}">[[${data.articuloNext.title}]]</a></div>
                                </div>
                            </div>

                        </article>

                    </div>

                    <div th:if="${error != null}" >
                        <h3>Articulo no encontrado</h3>
                    </div>

                </div>

            </div>

        </div>

        <script th:src="@{js/base.js}" ></script>
    </body>
</html>
