<div class="uk-background-secondary uk-light uk-padding-small" th:fragment="menu" >
    <!--uk-height-viewport-->
    <ul class="uk-nav uk-nav-default">

        <li><a href="" data-bind="click: $root.gotoIndex">Inicio</a></li>

<!--        <li>
            Capitulo 1: Bases de la Institucionalidad
            <ul class="uk-nav-sub">
                <li><a th:href="@{/capitulo01/articulo001}">Articulo 1</a></li>
                <li><a th:href="@{/capitulo01/articulo002}">Articulo 2</a></li>
                <li><a th:href="@{/capitulo01/articulo003}">Articulo 3</a></li>
                <li><a th:href="@{/capitulo01/articulo004}">Articulo 4</a></li>
                <li><a th:href="@{/capitulo01/articulo005}">Articulo 5</a></li>
                <li><a th:href="@{/capitulo01/articulo006}">Articulo 6</a></li>
                <li><a th:href="@{/capitulo01/articulo007}">Articulo 7</a></li>
                <li><a th:href="@{/capitulo01/articulo008}">Articulo 8</a></li>
                <li><a th:href="@{/capitulo01/articulo009}">Articulo 9</a></li>
            </ul>
        </li>

        <li class="uk-parent">
            Capitulo 2: Nacionalidad y Ciudadania
            <ul class="uk-nav-sub">
                <li><a th:href="@{/capitulo02/articulo010}">Articulo 10</a></li>
                <li><a th:href="@{/capitulo02/articulo011}">Articulo 11</a></li>
                <li><a th:href="@{/capitulo02/articulo012}">Articulo 12</a></li>
                <li><a th:href="@{/capitulo02/articulo013}">Articulo 13</a></li>
                <li><a th:href="@{/capitulo02/articulo014}">Articulo 14</a></li>
                <li><a th:href="@{/capitulo02/articulo015}">Articulo 15</a></li>
                <li><a th:href="@{/capitulo02/articulo016}">Articulo 16</a></li>
                <li><a th:href="@{/capitulo02/articulo017}">Articulo 17</a></li>
                <li><a th:href="@{/capitulo02/articulo018}">Articulo 18</a></li>
            </ul>
        </li>-->

        <ul data-bind="foreach: capitulos">
            <li data-bind="text: title"></li>
            
            <ul class="uk-nav-sub" data-bind="foreach: articulos">
                <li><a href="" data-bind="text: title, click: $root.gotoChapter"></a></li>
            </ul>
        </ul>

    </ul>

</div>
