<!DOCTYPE html>
<html>
    <head>
        <title>Constitución de Chile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

        <!-- Knockout JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body >
        <div>

            <div class="uk-background-secondary uk-padding-small uk-light">
                <b>Constitución Política de la República de Chile</b>
            </div>

            <div uk-grid >

                <!-- MENU -->
                <div class="uk-width-1-4@l">
                    <div class="uk-background-secondary uk-light uk-padding-small" th:fragment="menu" >
                        <ul class="uk-nav uk-nav-default">
                            
                            <li><a th:href="@{/}">Inicio</a></li>

                            <li th:each="c: ${capitulos}">
                                [[${c.title}]]
                                <ul class="uk-nav-sub" >
                                    <li th:each="a: ${c.articulos}">
                                        <a th:href="@{/search/(articulo=${a.number})}" > [[${a.title}]]</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="uk-width-3-4@l">
                    
                    <div th:replace="'capitulos/' + ${capitulo} :: ${articulo}"></div>

                </div>

            </div>


        </div>

    </body>
</html>
