<!DOCTYPE html>
<html>
    <head>
        <title>Constitución de Chile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

        <!-- Knockout JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <style>
            ul.articulo {
                list-style: none;
            }
            
            ul.articulo > li {
                padding-top: 10px;
                padding-bottom : 10px;
            }
            
            ol.articulo {
                list-style: none;
            }

            ol.articulo > li {
                padding-top: 10px;
                padding-bottom : 10px;
            }
        </style>
    </head>
    <body >
        <div>

            <div class="uk-background-secondary uk-padding-small uk-light">
                <b>Constitución Política de la República de Chile</b>
            </div>

            <div uk-grid >

                <!-- MENU -->
                <div class="uk-width-1-5@l">
                    <div class="uk-background-secondary uk-light uk-padding-small" th:fragment="menu" >
                        <ul class="uk-nav uk-nav-default" uk-nav="multiple: true">

                            <li><a th:href="@{/}">Constitución</a></li>

                            <li class="uk-parent" th:classappend="${c.id == cid} ? uk-open: ''" th:each="c: ${capitulos}">
                                <!--<a th:href="@{/cap/(id=${c.id})}" > [[${c.title}]]</a>-->
                                <a href="#"> [[${c.title}]]</a>
                                <ul class="uk-nav-sub" >
                                    <li th:each="s: ${c.secciones}">
                                        [[${s.title}]]
                                        <ul class="uk-nav-sub">
                                            <li th:classappend="${a.id == aid} ? uk-active: ''" th:each="a: ${s.articulos}">
                                                <a th:href="@{/art/(id=${a.id})}" > [[${a.title}]]</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            
                            <li><a th:href="@{/refs}">Referencias</a></li>

                        </ul>

                    </div>

                </div>

                <div class="uk-width-4-5@l">

                    <div th:if="${error == null}" >

                        <article class="uk-article">
                            <br>
                            <p><b>[[${ctitle}]]</b>
                            <br>[[${stitle}]]
                            <hr>
                            <p><b>[[${atitle}]]</b>

                            <div th:replace="'capitulos/capitulo' + ${cid} :: ${aid}"></div>

                            <hr>
                            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                <div><a class="uk-button uk-button-text" th:href="@{/art/?(id=${aprevId})}">[[${aprevTitle}]]</a></div>
                                <div><a class="uk-button uk-button-text" th:href="@{/art/?(id=${anextId})}">[[${anextTitle}]]</a></div>
                            </div>
                        </article>

                    </div>

                    <div th:if="${error != null}" >
                        Articulo no encontrado
                    </div>

                </div>

            </div>


        </div>

    </body>
</html>
