<!DOCTYPE html>
<html>
    <head>
        <title>Constitución de Chile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

        <!-- Knockout JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <style>
            ul.articulo {
                list-style: none;
            }

            ul.articulo > li {
                padding-top: 10px;
                padding-bottom : 10px;
            }

            ol.articulo {
                list-style: none;
            }

            ol.articulo > li {
                padding-top: 10px;
                padding-bottom : 10px;
            }
        </style>
    </head>
    <body class="uk-container">
        <div>

            <div class="uk-background-secondary uk-padding-small uk-light">
                <b>Constitución Política de la República de Chile</b>
            </div>

            <div uk-grid >

                <!-- MENU -->
                <div class="uk-width-1-4">
                    <div class="uk-background-secondary uk-light uk-padding-small" th:fragment="menu" >
                        <!--<ul class="uk-nav uk-nav-default" uk-nav="multiple: true">-->
                        <ul class="uk-list">

                            <li><a th:href="@{/}">Inicio</a></li>

                            <li th:each="c: ${capitulos}">
                                [[${c.title}]]
                                <ul>
                                    <li th:each="s: ${c.secciones}">
                                        [[${s.title}]]
                                        <ul>
                                            <li th:each="a: ${s.articulos}">
                                                <a th:href="@{'/arts/'+${a.id}}" > [[${a.title}]]</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><a th:href="@{/publicacion}">Publicación</a></li>

                            <li><a th:href="@{/refs}">Referencias</a></li>

                        </ul>

                    </div>

                </div>

                <div class="uk-width-3-4" uk-grid>


                    <div th:if="${error == null}" >

                        <article class="uk-article">
                            <br>
                            <p><b>[[${ctitle}]]</b>
                                <br>[[${stitle}]]
                            <hr>
                            <p><b>[[${atitle}]]</b>

                            <div th:replace="'capitulos/capitulo' + ${cid} :: ${aid}"></div>

                            <hr>
                            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                <div><a class="uk-button uk-button-text" th:href="@{'/arts/'+${aprevId}}">[[${aprevTitle}]]</a></div>
                                <div><a class="uk-button uk-button-text" th:href="@{'/arts/'+${anextId}}">[[${anextTitle}]]</a></div>
                            </div>
                        </article>

                    </div>

                    <div th:if="${error != null}" >
                        <h3>Articulo no encontrado</h3>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>
