<div th:fragment="top" class="uk-background-secondary uk-padding-small uk-light">
    <div uk-grid>
        <div class="uk-width-1-2">
            <div class="uk-flex uk-flex-center@m uk-flex-left@l">
                <h3><b>Constitución Política de la República de Chile</b></h3>
            </div>
        </div>
        <div class="uk-width-1-2">
            <div class="uk-flex uk-flex-center@m uk-flex-right@l">
                <form class="uk-form" action="#" th:action="@{/search}" th:object="${data}" method="post">
                    <div class="uk-inline">
                        <!--<a class="uk-form-icon" href="#" uk-icon="icon: search"></a>-->
                        <input class="uk-input uk-width-medium" type="text" th:field="*{searchText}" >
                        <input class="uk-button uk-button-default" type="submit" value="Buscar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
