[Unit]
Description=A Spring Boot application
After=syslog.target
 
[Service]
User=guru
ExecStart=/home/guru/trabajo/constitucion/projects/constitucion/target/constitucion.jar SuccessExitStatus=143 
 
[Install] 
WantedBy=multi-user.target
