<!DOCTYPE html>
<html>
    <head>
        <title>Constitución de Chile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    </head>
    <body >
        <div class="uk-container">

            <div class="uk-background-secondary uk-padding-small uk-light">
                <b>Constitución Política de la República de Chile</b>
            </div>

            <div uk-grid>

                <!-- MENU -->
                <div class="uk-width-1-4" th:insert="menu :: menu"></div>

                <div class="uk-width-3-4">

                    <article class="uk-article">

                        <h3>CAPITULO 2: NACIONALIDAD Y CIUDADANIA</h3>

                        <div class="uk-grid-small uk-child-width-auto" uk-grid>
                            <div>
                                <a class="uk-button uk-button-text" th:href="@{/capitulo02/articulo015}">Anterior</a>
                            </div>
                            <div>
                                <a class="uk-button uk-button-text" th:href="@{/capitulo02/articulo017}">Siguiente</a>
                            </div>
                        </div>

                        <p><b>Artículo 16</b></p>

                    </article>

                </div>
            </div>


        </div>
    </body>
</html>
