<div th:fragment="-1">
    <article class="uk-article">
        <p><b>Capitulo IX</b></p>
        <p>SERVICIO ELECTORAL Y JUSTICIA ELECTORAL202</p>
    </article>
</div>

<div th:fragment="94bis">
    <article class="uk-article">
        <p>Artículo 94 bis.203 Un organismo autónomo, con personalidad jurídica y patrimonio propios, denominado 
            Servicio Electoral, ejercerá la administración, supervigilancia y fiscalización de los procesos electorales 
            y plebiscitarios; del cumplimiento de las normas sobre transparencia, límite y control del gasto electoral; de
        <p>las normas sobre los partidos políticos, y las demás funciones que señale una ley orgánica constitucional.
        <p>La dirección superior del Servicio Electoral corresponderá a un Consejo Directivo, el que ejercerá de forma 
            exclusiva las atribuciones que le encomienden la Constitución y las leyes. Dicho Consejo estará integrado 
            por cinco consejeros designados por el Presidente de la República, previo acuerdo del Senado, adoptado por 
            los dos tercios de sus miembros en ejercicio. Los Consejeros durarán diez años en sus cargos, no podrán ser 
            designados para un nuevo período y se renovarán por parcialidades cada dos años.
        <p>Los Consejeros solo podrán ser removidos por la Corte Suprema, a requerimiento del Presidente de la República
            o de un tercio de los miembros en ejercicio de la Cámara de Diputados, por infracción grave a la Constitución 
            o a las leyes, incapacidad, mal comportamiento o negligencia manifiesta en el ejercicio de sus funciones. La 
            Corte conocerá del asunto en Pleno, especialmente convocado al efecto, y para acordar la remoción deberá reunir 
            el voto conforme de la mayoría de sus miembros en ejercicio.
        <p>La organización y atribuciones del Servicio Electoral serán establecidas por una ley orgánica constitucional. 
            Su forma de desconcentración, las plantas, remuneraciones y estatuto del personal serán establecidos por una ley.
    </article>
</div>


<div th:fragment="95">
    <article class="uk-article">
        <p>Artículo 95. Un tribunal especial, que se denominará Tribunal Calificador de Elecciones, conocerá el escrutinio 
            general y de la calificación de las elecciones de Presidente de la República, de diputados y senadores; resolverá 
            las reclamaciones a que dieren lugar y proclamará a los que resulten elegidos. Dicho Tribunal conocerá, asimismo, 
            de los plebiscitos, y tendrá las demás atribuciones que determine la ley.
        <p>Estará constituido por cinco miembros designados en la siguiente forma:
        <ol>
            <li>a) Cuatro ministros de la Corte Suprema, designados por ésta, mediante sorteo, en la forma y oportunidad que 
                determine la ley orgánica respectiva, y
            <li>b) Un ciudadano que hubiere ejercido el cargo de Presidente o Vicepresidente de la Cámara de Diputados o del 
                Senado por un período no inferior a los 365 días, designado por la Corte Suprema en la forma señalada en 
                la letra a) precedente, de entre todos aquellos que reúnan las calidades indicadas. <a th:href="@{/refs/#204}">[204]</a>
        </ol>
        <p>La designación a que se refiere la letra b) no podrán recaer en personas que sean parlamentario, candidato a cargos
            de elección popular, ministro de Estado, ni dirigente de partido político. <a th:href="@{/refs/#205}">[205]</a>
        <p>Los miembros de este Tribunal durarán cuatro años en sus funciones y les serán aplicables las disposiciones 
            de los artículos 58 y 59 de esta Constitución.
        <p>El Tribunal Calificador procederá como jurado en la apreciación de los hechos y sentenciará con arreglo a derecho.
        <p>Una ley orgánica constitucional regulará la organización y funcionamiento del Tribunal Calificador. <a th:href="@{/refs/#206}">[206]</a>
    </article>
</div>

<div th:fragment="96">
    <article class="uk-article">
        <p>Artículo 96. Habrá tribunales electorales regionales encargados de conocer el escrutinio general y la 
            calificación de las elecciones que la ley les encomiende, así como de resolver las reclamaciones a que 
            dieren lugar y de proclamar a los candidatos electos. Sus resoluciones serán apelables para ante el 
            Tribunal Calificador de Elecciones en la forma que determine la ley. Asimismo, les corresponderá conocer 
            de la calificación de las elecciones de carácter gremial y de las que tengan lugar en aquellos grupos 
            intermedios que la ley señale. <a th:href="@{/refs/#207}">[207]</a>
        <p>Estos tribunales estarán constituidos por un ministro de la Corte de Apelaciones respectiva, elegido por 
            ésta, y por dos miembros designados por el Tribunal Calificador de Elecciones de entre personas que hayan 
            ejercido la profesión de abogado o desempeñado la función de ministro o abogado integrante de Corte de 
            Apelaciones por un plazo no inferior a tres años.
        <p>Los miembros de estos tribunales durarán cuatro años en sus funciones y tendrán las inhabilidades e 
            incompatibilidades que determine la ley.
        <p>Estos tribunales procederán como jurado en la apreciación de los hechos y sentenciarán con arreglo a derecho.
        <p>La ley determinará las demás atribuciones de estos tribunales y regulará su organización y funcionamiento. <a th:href="@{/refs/#208}">[208]</a>
    </article>
</div>

<div th:fragment="97">
    <article class="uk-article">
        <p>Artículo 97. Anualmente, se destinarán en la Ley de Presupuestos de la Nación los fondos necesarios para 
            la organización y funcionamiento de estos tribunales, cuyas plantas, remuneraciones y estatuto del personal 
            serán establecidos por ley.
    </article>
</div>