<div th:fragment="-1">
    <article class="uk-article">
        <p><b>Capitulo XIII</b></p>
        <p>BANCO CENTRAL</p>
    </article>
</div>


<div th:fragment="108">
    <article class="uk-article">
        CAPITULO XIII
        BANCO CENTRAL 220
        Artículo 108. Existirá un organismo autónomo, con patrimonio propio, de carácter técnico, denominado Banco Central, cuya composición, organización, funciones y atribuciones determinará una ley orgánica constitucional.
    </article>
</div>


<div th:fragment="109">
    <article class="uk-article">
        Artículo 109. El Banco Central sólo podrá efectuar operaciones con instituciones financieras, sean públicas o privadas. De manera alguna podrá otorgar a ellas su garantía, ni adquirir documentos emitidos por el Estado, sus organismos o empresas.
        Ningún gasto público o préstamo podrá financiarse con créditos directos o indirectos del Banco Central.
        Con todo, en caso de guerra exterior o de peligro de ella, que calificará el Consejo de Seguridad Nacional, el Banco Central podrá obtener, otorgar o financiar créditos al Estado y entidades públicas o privadas.
        218 Artículo reemplazado por el artículo 1º, Nº 47 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nos 44 y 45 de la ley de Reforma Constitucional Nº 18.825.
        219 Artículo sustituido por el artículo 1º, Nº 48 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 46 de la ley de Reforma Constitucional Nº 18.825.
        220 Véase la ley Nº 18.840, Orgánica Constitucional del Banco Central de Chile.
        72
        El Banco Central no podrá adoptar ningún acuerdo que signifique de una manera directa o indirecta establecer normas o requisitos diferentes o discriminatorios en relación a personas, instituciones o entidades que realicen operaciones de la misma naturaleza.
    </article>
</div>