<div th:fragment="0">
    <!--<h2>CONSTITUCIÓN POLÍTICA DE LA REPUBLICA DE CHILE</h2>-->

    <p class="uk-article-meta">Santiago, 17 de septiembre de 2005 <a th:href="@{/refs/#1}">[1]</a> </p>

    <p>DECRETO SUPREMO N° 100
    <p>VISTO: En uso de las facultades que me confiere el artículo 2° de la Ley Nº 20.050, y teniendo presente lo dispuesto en el artículo 32 N° 8 de la Constitución Política de 1980.
    <p>DECRETO: Fíjase el siguiente texto refundido, coordinado y sistematizado de la Constitución Política de la República:
</div>

<div th:fragment="refs">
    <p id="1">1 Texto actualizado al 21 de julio de 2015. Incluye las reformas introducidas por las leyes Nos 18.825, 19.055, 19.097, 19.295, 19.448 , 19.519, 19.526 , 19.541, 19.597, 19.611, 19.634, 19.643 , 19.671, 19.672, 19.742 ; 19.876, 20.050, 20.162, 20.193, 20.245, 20.337, 20.346, 20.352, 20.354, 20.390, 20.414, 20.503, 20.515, 20.516, 20.573, 20.644, 20.710, 20.854, 20.990 y 21.011.
    <p id="2">2 Inciso modificado por el artículo único, N° 1 de la ley de Reforma Constitucional N° 19.611.
    <p id="3">3 Artículo sustituido por el artículo 1°, N° 1, de la ley de Reforma Constitucional N° 20.050. Anteriormente había sido sustituido por el artículo 1° de la ley de Reforma Constitucional N° 19.097.
    <p id="4">4 Inciso modificado por el artículo único, N° 1 de la ley de Reforma Constitucional N° 18.825. Ver, además, Pacto Internacional de Derechos Civiles y Políticos de 1966 (decreto N° 778, D.O. 29 de abril de 1989; Pacto Internacional de Derechos Económicos, Sociales y Culturales de 1966 (decreto N° 326, D.O. 27 de mayo de 1989; Convención Americana sobre Derechos Humanos (Pacto de San José de Costa Rica, decreto N° 873, D.O. 5 de enero de 1991).
    <p id="5">5 Inciso modificado por el artículo 1°, N° 1, de la ley de Reforma Constitucional N° 20.050.
    <p id="6">6 Artículo incorporado por el artículo 1°, N° 3, de la ley de Reforma Constitucional N° 20.050. Anteriormente había sido derogado por el artículo único, N° 2, de la ley de Reforma Constitucional N° 18.825.
    <p id="7">7 Incisos tercero y cuarto agregados por el artículo único, N° 1, de la ley de Reforma Constitucional N° 20.414.
    <p id="8">8 Inciso modificado por el artículo único, Nº 3 de la ley de Reforma Constitucional Nº 18.825.
    <p id="9">9 Véase la ley Nº 18.314, que determina las conductas terroristas y fija su penalidad. Véase el decreto Nº 263, del 2004, del Ministerio de Relaciones Exteriores que promulga la Convención Interamericana contra el Terrorismo.
    <p id="10">10 Inciso sustituido por el artículo único, Nº 1, de la ley de Reforma Constitucional Nº 19.055. Véase la ley Nº 19.734, que reemplazó la pena de muerte por la presidio perpetuo calificado en diversos textos legales.
    <p id="11">11 Número sustituido por el artículo 1º, Nº 4, letra b) de la ley de Reforma Constitucional Nº 20.050. El primitivo número 2º fue eliminado por el artículo 1º, Nº 4, letra b) de la ley de Reforma Constitucional Nº 20.050.
    <p id="12">12 Número reemplazado por el artículo 1º, Nº 4, letra c) de la ley de Reforma Constitucional Nº 20.050.
    <p id="13">13 Véase el Decreto Supremo Nº 5.142, de 1960, que fija el texto refundido de las disposiciones sobre nacionalización de extranjeros.
    <p id="14">14 Número sustituido por el artículo 1º, Nº 5, letra a) de la ley de Reforma Constitucional Nº 20.050.
</div>
