<!DOCTYPE html>
<html>
    <head>
        <title>Constitución de Chile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    </head>
    <body >
        <div class="uk-container">

            <div class="uk-background-secondary uk-padding-small uk-light">
                <b>Constitución Política de la República de Chile</b>
            </div>

            <div uk-grid>

                <!-- MENU -->
                <div class="uk-width-1-4@s" th:insert="menu :: menu"></div>

                <div class="uk-width-3-4@s">

                    <article class="uk-article">

                        <h3>CAPITULO I: BASES DE LA INSTITUCIONALIDAD</h3>
                        
                        <div class="uk-grid-small uk-child-width-auto" uk-grid>
                            <div>
                                <a class="uk-button uk-button-text" th:href="@{/capitulo01/articulo002}">Siguiente</a>
                            </div>
                        </div>

                        <p><b>Artículo 1º</b>

                        <p>Las personas nacen libres e iguales en dignidad y derechos.
                        <p>La familia es el núcleo fundamental de la sociedad.
                        <p>El Estado reconoce y ampara a los grupos intermedios a través de los cuales se
                            organiza y estructura la sociedad y les garantiza la adecuada autonomía para cumplir sus
                            propios fines específicos.
                        <p>El Estado está al servicio de la persona humana y su finalidad es promover el bien
                            común, para lo cual debe contribuir a crear las condiciones sociales que permitan a todos y
                            a cada uno de los integrantes de la comunidad nacional su mayor realización espiritual y
                            material posible, con pleno respeto a los derechos y garantías que esta Constitución
                            establece.
                        <p>Es deber del Estado resguardar la seguridad nacional, dar protección a la población
                            y a la familia, propender al fortalecimiento de ésta, promover la integración armónica de
                            todos los sectores de la Nación y asegurar el derecho de las personas a participar con
                            igualdad de oportunidades en la vida nacional.



                    </article>

                </div>
            </div>


        </div>
    </body>
</html>
