<div th:fragment="57">
    <article class="uk-article">
        <p>Artículo 57. No pueden ser candidatos a diputados ni a senadores:
        <ol class="articulo">
            <p>1) Los Ministros de Estado;
            <p>2) Los gobernadores regionales, los delegados presidenciales regionales, los delegados presidenciales provinciales, los alcaldes, los consejeros regionales, los concejales y los subsecretarios;143
            <p>3) Los miembros del Consejo del Banco Central;
            <p>4) Los magistrados de los tribunales superiores de justicia y los jueces de letras; <a th:href="@{/refs/#144}">[144]</a>
            <p>5) Los miembros del Tribunal Constitucional, del Tribunal Calificador de Elecciones y de los tribunales electorales regionales;
            <p>6) El Contralor General de la República;
            <p>7) Las personas que desempeñen un cargo directivo de naturaleza gremial o vecinal; <a th:href="@{/refs/#145}">[145]</a>
            <p>8) Las personas naturales y los gerentes o administradores de personas jurídicas que celebren o caucionen contratos con el Estado; <a th:href="@{/refs/#146}">[146]</a>
            <p>9) El Fiscal Nacional, los fiscales regionales y los fiscales adjuntos del Ministerio Público, y <a th:href="@{/refs/#147}">[147]</a>
            <p>10) Los Comandantes en Jefe del Ejército, de la Armada y de la Fuerza Aérea, el General Director de 
                Carabineros, el Director General de la Policía de Investigaciones y los oficiales pertenecientes a 
                las Fuerzas Armadas y a las Fuerzas de Orden y Seguridad Pública. <a th:href="@{/refs/#148}">[148]</a>
        </ol>
        <p>Las inhabilidades establecidas en este artículo serán aplicables a quienes hubieren tenido 
            las calidades o cargos antes mencionados dentro del año inmediatamente anterior a la elección; 
            excepto respecto de las personas mencionadas en los números 7) y 8), las que no deberán reunir 
            esas condiciones al momento de inscribir su candidatura y de las indicadas en el número 9), respecto
            de las cuales el plazo de la inhabilidad será de los dos años inmediatamente anteriores a la elección. <a th:href="@{/refs/#149}">[149]</a>
            Si no fueren elegidos en una elección no podrán volver al mismo cargo ni ser designados para 
            cargos análogos a los que desempeñaron hasta un año después del acto electoral. <a th:href="@{/refs/#150}">[150]</a>
    </article>
</div>
