<div th:fragment="16">
    <article class="uk-article">
        <p>Artículo 16. El derecho de sufragio se suspende:
        <ul>
            <li>1º. Por interdicción en caso de demencia;
            <li>2º. Por hallarse la persona acusada por delito que merezca pena aflictiva o por delito que la ley califique como conducta terrorista, y <a th:href="@{/refs/#20}">[20]</a>
            <li>3º. Por haber sido sancionado por el Tribunal Constitucional en conformidad al inciso séptimo del número 15º del artículo 19 de esta Constitución.
        </ul>
        <p>Los que por esta causa se hallaren privados del ejercicio del derecho de sufragio lo recuperarán al término de cinco años, contado desde la declaración 
            del Tribunal. Esta suspensión no producirá otro efecto legal, sin perjuicio de lo dispuesto en el inciso séptimo del número 15º del <a th:href="@{/arts/19}">artículo 19</a>. <a th:href="@{/refs/#21}">[21]</a>
    </article>
</div>
