<div th:fragment="20">
    <article class="uk-article">
        <p>Artículo 20. El que por causa de actos u omisiones arbitrarios o ilegales, sufra privación, perturbación o amenaza en el legítimo
            ejercicio de los derechos y garantías establecidos en el <a th:href="@{/arts/19}">artículo 19</a>, números 1.º, 2.º, 3.º inciso quinto
            <a th:href="@{/refs/#67}">[67]</a>, 4.º, 5.º, 6.º, 9.º inciso final, 11.º, 12.º, 13.º, 15.º, 16.º en lo relativo a
            la libertad de trabajo y al derecho a su libre elección y libre contratación, y a lo establecido en el inciso cuarto,
            19.º, 21.º, 22.º, 23.º, 24.º y 25.º podrá ocurrir por sí o por cualquiera a su nombre, a la Corte de Apelaciones respectiva,
            la que adoptará de inmediato las providencias que juzgue necesarias para
            restablecer el imperio del derecho y asegurar la debida protección del afectado, sin perjuicio de los demás derechos que pueda
            hacer valer ante la autoridad o los tribunales correspondientes.
        <p>Procederá también, el recurso de protección en el caso del No. 8. del artículo 19, cuando el derecho a vivir en un medio ambiente 
            libre de contaminación sea afectado por un acto u omisión ilegal imputable a una autoridad o persona determinada. <a th:href="@{/refs/#68}">[68]</a> - <a th:href="@{/refs/#69}">[69]</a>
    </article>
</div>
