<div th:fragment="82">
    <article class="uk-article">
        <p>Artículo 82. La Corte Suprema tiene la superintendencia directiva, correccional y económica de todos los tribunales de 
            la nación. Se exceptúan de esta norma el Tribunal Constitucional, el Tribunal Calificador de Elecciones y los tribunales 
            electorales regionales. <a th:href="@{/refs/#188}">[188]</a>
        <p>Los tribunales superiores de justicia, en uso de sus facultades disciplinarias, sólo podrán invalidar resoluciones 
            jurisdiccionales en los casos y forma que establezca la ley orgánica constitucional respectiva. 
            <a th:href="@{/refs/#189}">[189]</a> - <a th:href="@{/refs/#190}">[190]</a> - <a th:href="@{/refs/#191}">[191]</a>
    </article>
</div>
