<div th:fragment="27">
    <article class="uk-article">
        <p>Artículo 27. El proceso de calificación de la elección presidencial deberá quedar concluido 
            dentro de los quince días siguientes tratándose de la primera votación o dentro de los 
            treinta días siguientes tratándose de la segunda votación. <a th:href="@{/refs/#86}">[86]</a> - <a th:href="@{/refs/#87}">[87]</a>
        <p>El Tribunal Calificador de Elecciones comunicará de inmediato al Presidente del Senado la 
            proclamación de Presidente electo que haya efectuado.
        <p>El Congreso Pleno, reunido en sesión pública el día en que deba cesar en su cargo el Presidente 
            en funciones y con los miembros que asistan, tomará conocimiento de la resolución en virtud 
            de la cual el Tribunal Calificador de Elecciones proclama al Presidente electo. <a th:href="@{/refs/#88}">[88]</a> - <a th:href="@{/refs/#89}">[89]</a>
        <p>En este mismo acto, el Presidente electo prestará ante el Presidente del Senado, juramento o 
            promesa de desempeñar fielmente el cargo de Presidente de la República, conservar la independencia 
            de la Nación, guardar y hacer guardar la Constitución y las leyes, y de inmediato asumirá sus funciones.
    </article>
</div>
