<div th:fragment="48">
    <article class="uk-article">
        <p>Artículo 48. Para ser elegido diputado se requiere ser ciudadano con derecho a sufragio, tener 
            cumplidos veintiún años de edad, haber cursado la Enseñanza Media o equivalente y tener residencia 
            en la región a que pertenezca el distrito electoral correspondiente durante un plazo no inferior a 
            dos años, contando hacia atrás desde el día de la elección. <a th:href="@{/refs/#124}">[124]</a>
    </article>
</div>
