<div th:fragment="65">
    <article class="uk-article">
        <p>Artículo 65. Las leyes pueden tener origen en la Cámara de Diputados o en el Senado, por mensaje que 
            dirija el Presidente de la República o por moción de cualquiera de sus miembros. Las mociones no pueden 
            ser firmadas por más de diez diputados ni por más de cinco senadores.
        <p>Las leyes sobre tributos de cualquiera naturaleza que sean, sobre los presupuestos de la administración 
            pública y sobre reclutamiento, sólo pueden tener origen en la Cámara de Diputados. Las leyes sobre amnistía 
            y sobre indultos generales sólo pueden tener origen en el Senado.
        <p>Corresponderá al Presidente de la República la iniciativa exclusiva de los proyectos de ley que tengan 
            relación con la alteración de la división política o administrativa del país, o con la administración 
            financiera o presupuestaria del Estado, incluyendo las modificaciones de la Ley de Presupuestos, y con 
            las materias señaladas en los números 10 y 13 del artículo 63.
        <p>Corresponderá, asimismo, al Presidente de la República, la iniciativa exclusiva para:

        <ol class="articulo">
            <p>1º Imponer, suprimir, reducir o condonar tributos de cualquier clase o naturaleza, establecer exenciones 
                o modificar las existentes y determinar su forma, proporcionalidad o progresión;
            <p>2° Crear nuevos servicios públicos o empleos rentados, sean fiscales, semifiscales, autónomos o de 
                las empresas del Estado; suprimirlos y determinar sus funciones o atribuciones. <a th:href="@{/refs/#167}">[167]</a>
            <p>3º Contratar empréstitos o celebrar cualquiera otra clase de operaciones que puedan comprometer el 
                crédito o la responsabilidad financiera del Estado, de las entidades semifiscales, autónomas, de los
                gobiernos regionales o de las municipalidades, y condonar, reducir o modificar obligaciones, intereses
                u otras cargas financieras de cualquiera naturaleza, establecidas en favor del Fisco o de los organismos o entidades referidos; <a th:href="@{/refs/#168}">[168]</a>
            <p>4º Fijar, modificar, conceder o aumentar remuneraciones, jubilaciones, pensiones, montepíos, rentas 
                y cualquier otra clase de emolumentos, préstamos o beneficios al personal en servicio o en retiro y a 
                los beneficiarios de montepíos, en su caso, de la administración pública y demás organismos y 
                entidades anteriormente señalados, como asimismo fijar las remuneraciones mínimas de los trabajadores 
                del sector privado, aumentar obligatoriamente sus remuneraciones y demás beneficios económicos o alterar 
                las bases que sirvan para determinarlos; todo ello sin perjuicio de lo dispuesto en los números siguientes;
            <p>5º Establecer las modalidades y procedimientos de la negociación colectiva y determinar los casos 
                en que no se podrá negociar, y
            <p>6º Establecer o modificar las normas sobre seguridad social o que incidan en ella, tanto del sector 
                público como del sector privado.
        </ol>

        <p>El Congreso Nacional sólo podrá aceptar, disminuir o rechazar los servicios, empleos, emolumentos, préstamos, 
            beneficios, gastos y demás iniciativas sobre la materia que proponga el Presidente de la República.
    </article>
</div>
