<div th:fragment="51">
    <article class="uk-article">
        <p>Artículo 51. Se entenderá que los diputados tienen por el solo ministerio de la ley, su residencia en 
            la región correspondiente, mientras se encuentren en ejercicio de su cargo.
        <p>Las elecciones de diputados y de senadores que corresponda elegir por votación directa se efectuarán 
            conjuntamente. Los parlamentarios podrán ser reelegidos en sus cargos.
        <p>Las vacantes de diputados y las de senadores se proveerán por el ciudadano que señale el partido político 
            al que pertenecía el parlamentario que produjo la vacante al momento de ser elegido.
        <p>Los parlamentarios elegidos como independientes no serán reemplazados.
        <p>Los parlamentarios elegidos como independientes que hubieren postulado integrando lista en conjunto 
            con uno o más partidos políticos, serán reemplazados con el ciudadano que señale el partido indicado 
            por el respectivo parlamentario al momento de presentar su declaración de candidatura.
        <p>El reemplazante deberá reunir los requisitos para ser elegido diputado o senador, según el caso. 
            Con todo, un diputado podrá ser nominado para ocupar el puesto de un senador, debiendo aplicarse, 
            en ese caso, las normas de los incisos anteriores para llenar la vacante que deja el diputado, quien 
            al asumir su nuevo cargo cesará en el que ejercía.
        <p>El nuevo diputado o senador ejercerá sus funciones por el término que faltaba a quien originó la vacante.
        <p>En ningún caso procederán elecciones complementarias. <a th:href="@{/refs/#128}">[128]</a>
    </article>
</div>
