<div th:fragment="123">
    <article class="uk-article">
        <p>Artículo 123. La ley establecerá fórmulas de coordinación para la administración de todos o algunos de los municipios, 
            con respecto a los problemas que les sean comunes, así como entre los municipios y los demás servicios públicos. <a th:href="@{/refs/#246}">[246]</a>
        <p>Sin perjuicio de lo dispuesto en el inciso anterior, la ley orgánica constitucional respectiva regulará la administración 
            de las áreas metropolitanas, y establecerá las condiciones y formalidades que permitan conferir dicha calidad a 
            determinados territorios. <a th:href="@{/refs/#247}">[247]</a>
    </article>
</div>
