<div th:fragment="dt28">
    <p>VIGÉSIMO OCTAVA. <a th:href="@{/refs/#287}">[287]</a> La primera elección por sufragio universal en votación 
        directa de los gobernadores regionales se verificará en la oportunidad que señale la ley orgánica constitucional 
        a que aluden los incisos cuarto y quinto del artículo 111 y una vez promulgada la ley que establezca un nuevo 
        procedimiento de transferencia de las competencias a las que se refiere el artículo 114.
    <p>El período establecido en el inciso segundo del artículo 113 podrá ser adecuado por la ley orgánica constitucional 
        señalada en los incisos cuarto y quinto del artículo 111 para que los períodos de ejercicio de gobernadores 
        regionales y consejeros regionales coincidan. Esta modificación requerirá, para su aprobación, del voto 
        favorable de las tres quintas partes de los diputados y senadores en ejercicio.
    <p>Una vez que asuman los gobernadores regionales electos, los presidentes de los consejos regionales cesarán 
        de pleno derecho en sus funciones, las que serán asumidas por el respectivo gobernador regional.
    <p>Los gobernadores regionales electos, desde que asuman, tendrán las funciones y atribuciones que las leyes 
        otorgan expresamente al intendente en tanto órgano ejecutivo del gobierno regional. Las restantes funciones 
        y atribuciones que las leyes entregan al intendente se entenderán referidas al delegado presidencial regional 
        que corresponda. Asimismo, las funciones y atribuciones que las leyes entregan al gobernador se entenderán 
        atribuidas al delegado presidencial provincial.
    <p>Mientras no asuman los primeros gobernadores regionales electos, a los cargos de intendentes y gobernadores 
        les serán aplicables las disposiciones constitucionales vigentes previas a la publicación de la presente 
        reforma constitucional.
</div>
