<div th:fragment="dt3">
    <p>Tercera. La gran minería del cobre y las empresas consideradas como tal, nacionalizadas en virtud 
        de lo prescrito en la disposición 17º transitoria de la Constitución Política de 1925, continuará 
        rigiéndose por las normas constitucionales vigentes a la fecha de promulgación de esta Constitución.
        refieren los incisos séptimo al décimo del número 24º del artículo 19 de esta Constitución Política, 
        los titulares de derechos mineros seguirán regidos por la legislación que estuviere en vigor al momento
        en que entre en vigencia esta Constitución, en calidad de concesionarios.
    <p>Los derechos mineros a que se refiere el inciso anterior subsistirán bajo el imperio del nuevo Código, 
        pero en cuanto a sus goces y cargas y en lo tocante a su extinción, prevalecerán las disposiciones de 
        dicho nuevo Código de Minería. Este nuevo Código deberá otorgar plazo a los concesionarios para cumplir 
        los nuevos requisitos que se establezcan para merecer amparo legal.
    <p>En el lapso que medie entre el momento en que se ponga en vigencia esta Constitución y aquél en que 
        entre en vigor el nuevo Código de Minería, la constitución de derechos mineros con el carácter de 
        concesión señalado en los incisos séptimo al décimo del número 24º del artículo 19 de esta Constitución, 
        continuará regida por la legislación actual, al igual que las concesiones mismas que se otorguen.<a th:href="@{/refs/#266}">[266]</a>
</div>
