<div th:fragment="0">
    <!--<h2>CONSTITUCIÓN POLÍTICA DE LA REPUBLICA DE CHILE</h2>-->

    <p class="uk-article-meta">Santiago, 17 de septiembre de 2005 <a th:href="@{/refs/#1}">[1]</a> </p>

    <p>DECRETO SUPREMO N° 100
    <p>VISTO: En uso de las facultades que me confiere el artículo 2° de la Ley Nº 20.050, y teniendo presente lo dispuesto en el artículo 32 N° 8 de la Constitución Política de 1980.
    <p>DECRETO: Fíjase el siguiente texto refundido, coordinado y sistematizado de la Constitución Política de la República:
</div>