<div th:fragment="publicacion">
    <p>ANÓTESE, TÓMESE RAZÓN Y PUBLÍQUESE. 
    <ul class="articulo">
        <li>RICARDO LAGOS ESCOBAR, Presidente de la República; 
        <li>FRANCISCO VIDAL SALINAS, Ministro del Interior; 
        <li>IGNACIO WALKER PRIETO, Ministro de Relaciones Exteriores; 
        <li>JAIME RAVINET DE LA FUENTE, Ministro de Defensa Nacional; 
        <li>NICOLÁS EYZAGUIRRE GUZMÁN, Ministro de Hacienda; 
        <li>EDUARDO DOCKENDORFF VALLEJOS, Ministro Secretario General de la Presidencia;
        <li>OSVALDO PUCCIO HUIDOBRO, Ministro Secretario General de Gobierno; 
        <li>JORGE RODRÍGUEZ GROSSI, Ministro de Economía, Fomento y Reconstrucción y Presidente de la Comisión Nacional de Energía; 
        <li>YASNA PROVOSTE CAMPILLAY, Ministra de Planificación y Cooperación; 
        <li>SERGIO BITAR CHACRA, Ministro de Educación; 
        <li>LUIS BATES HIDALGO, Ministro de Justicia; 
        <li>YERKO LJUBETIC GODOY, Ministro del Trabajo y Previsión Social; 
        <li>JAIME ESTEVEZ VALENCIA, Ministro de Obras Públicas y de Transportes y Telecomunicaciones; 
        <li>PEDRO GARCÍA ASPILLAGA, Ministro de Salud; 
        <li>SONIA TSCHORNE BERESTESY, Ministra de Vivienda y Urbanismo y de Bienes Nacionales; 
        <li>JAIME CAMPOS QUIROGA, Ministro de Agricultura; 
        <li>ALFONSO DULANTO RENCORET, Ministro de Minería.
    </ul>
</div>