<div th:fragment="refs">
    <p>CONSTITUCION
    <p id="1">1 Texto actualizado al 21 de julio de 2015. Incluye las reformas introducidas por las leyes Nos 18.825, 19.055, 19.097, 19.295, 19.448 , 19.519, 19.526 , 19.541, 19.597, 19.611, 19.634, 19.643 , 19.671, 19.672, 19.742 ; 19.876, 20.050, 20.162, 20.193, 20.245, 20.337, 20.346, 20.352, 20.354, 20.390, 20.414, 20.503, 20.515, 20.516, 20.573, 20.644, 20.710, 20.854, 20.990 y 21.011.
    <p id="2">2 Inciso modificado por el artículo único, N° 1 de la ley de Reforma Constitucional N° 19.611.
    <p id="3">3 Artículo sustituido por el artículo 1°, N° 1, de la ley de Reforma Constitucional N° 20.050. Anteriormente había sido sustituido por el artículo 1° de la ley de Reforma Constitucional N° 19.097.
    <p id="4">4 Inciso modificado por el artículo único, N° 1 de la ley de Reforma Constitucional N° 18.825. Ver, además, Pacto Internacional de Derechos Civiles y Políticos de 1966 (decreto N° 778, D.O. 29 de abril de 1989; Pacto Internacional de Derechos Económicos, Sociales y Culturales de 1966 (decreto N° 326, D.O. 27 de mayo de 1989; Convención Americana sobre Derechos Humanos (Pacto de San José de Costa Rica, decreto N° 873, D.O. 5 de enero de 1991).
    <p id="5">5 Inciso modificado por el artículo 1°, N° 1, de la ley de Reforma Constitucional N° 20.050.
    <p id="6">6 Artículo incorporado por el artículo 1°, N° 3, de la ley de Reforma Constitucional N° 20.050. Anteriormente había sido derogado por el artículo único, N° 2, de la ley de Reforma Constitucional N° 18.825.
    <p id="7">7 Incisos tercero y cuarto agregados por el artículo único, N° 1, de la ley de Reforma Constitucional N° 20.414.
    <p id="8">8 Inciso modificado por el artículo único, Nº 3 de la ley de Reforma Constitucional Nº 18.825.
    <p id="9">9 Véase la ley Nº 18.314, que determina las conductas terroristas y fija su penalidad. Véase el decreto Nº 263, del 2004, del Ministerio de Relaciones Exteriores que promulga la Convención Interamericana contra el Terrorismo.
    <p id="10">10 Inciso sustituido por el artículo único, Nº 1, de la ley de Reforma Constitucional Nº 19.055. Véase la ley Nº 19.734, que reemplazó la pena de muerte por la presidio perpetuo calificado en diversos textos legales.
    <p id="11">11 Número sustituido por el artículo 1º, Nº 4, letra b) de la ley de Reforma Constitucional Nº 20.050. El primitivo número 2º fue eliminado por el artículo 1º, Nº 4, letra b) de la ley de Reforma Constitucional Nº 20.050.
    <p id="12">12 Número reemplazado por el artículo 1º, Nº 4, letra c) de la ley de Reforma Constitucional Nº 20.050.
    <p id="13">13 Véase el Decreto Supremo Nº 5.142, de 1960, que fija el texto refundido de las disposiciones sobre nacionalización de extranjeros.
    <p id="14">14 Número sustituido por el artículo 1º, Nº 5, letra a) de la ley de Reforma Constitucional Nº 20.050.
    <p id="15">15 El primitivo Nº 3º fue derogado por el artículo 1º, Nº 5, letra b) de la Ley de Reforma Constitucional Nº 20.050.
    <p id="16">16 Inciso agregado por el artículo único de la ley de Reforma Constitucional N°20.748, publicada en el D. O. el 3 de mayo de 2014.
    <p id="17">17 Inciso agregado por el artículo 1º, Nº 6, de la ley de Reforma Constitucional Nº 20.050.
    <p id="18">18 Inciso agregado por el artículo 1º, Nº 7 de la ley de Reforma Constitucional Nº 20.050.
    <p id="19">19 Inciso sustituido por el artículo único, N° 1 de la ley de Reforma Constitucional N° 20.337.
    <p id="20">20 Número modificado por el artículo 1º, Nº 8 de la ley de Reforma Constitucional Nº 20.050.
    <p id="21">21 Número modificado por el artículo único, Nº 4 de la ley de Reforma Constitucional Nº 18.825.
    <p id="22">22 Véase el Reglamento para otorgar el beneficio de rehabilitación de la ciudadanía, de 1989.
    <p id="23">23 Número modificado por el artículo 1°, Nº 9 letra a) de la ley de Reforma Constitucional Nº 20.050.
    <p id="24">24 Inciso reemplazado por el artículo 1º, Nº 9, letra b) de la ley de Reforma Constitucional Nº 20.050.
    <p id="25">25 Inciso modificado por el artículo único, N° 2, letra a) de la ley de Reforma Constitucional N° 20.337.
    <p id="26">26 Inciso agregado por el artículo único, N° 2, letra b) de la ley de Reforma Constitucional N° 20.337.
    <p id="27">27 Véanse la ley Nº 18.556, Orgánica Constitucional sobre sistema de inscripciones electorales y servicio electoral, y la ley Nº 18.700, Orgánica Constitucional sobre votaciones populares ye escrutinios. Véase además la ley Nº 19.884, sobre transparencia, límite y control del gasto electoral.
    <p id="28">28 Véase el artículo único de la ley Nº 18.826, que reemplazó el artículo 119 del Código Sanitario estableciendo: “No podrá ejecutarse ninguna acción cuyo fin sea provocar un aborto”.
    <p id="29">29 Véase la primera disposición transitoria de esta Constitución Política. Véase además la ley Nº 19.734, que reemplazó la pena de muerte por la de presidio perpetuo calificado en diversos textos legales.
    <p id="30">30 Párrafo modificado por el artículo único, Nº 2 de la ley de Reforma Constitucional Nº 19.611.
    <p id="31">31 Véase el decreto Nº 789, de 1989, que promulga la convención sobre eliminación de todas las formas de discriminación contra la mujer, adoptada por la Asamblea Nacional de Las Naciones Unidas de 18 de diciembre de 1979.
    <p id="32">32 Oración final agregada por el artículo 1º, Nº 1, letra a) de la ley de Reforma Constitucional Nº 20.516.
    <p id="33">33 Párrafo cuarto agregado por el artículo 1º, Nº 1, letra b) de la ley de Reforma Constitucional Nº 20.516.
    <p id="34">34 Párrafo sustituido por el artículo 1º, Nº 10, letra a) de la ley de Reforma Constitucional Nº 20.050.
    <p id="35">35 Frase reemplazada por el artículo único, Nº 1, de la ley de Reforma Constitucional Nº 19.519.
    <p id="36">36 Número sustituido por el artículo 1º, Nº 10, letra b) de la ley de Reforma Constitucional Nº 20.050.
    <p id="37">37 Véase el artículo único de la ley Nº 19.423, que incorpora un párrafo 5 al Título III del Libro II del Código Penal que trata de los delitos contra el respeto y protección a la vida privada y pública de la persona y familia. Véase además la ley Nº 19.628, sobre protección de datos de carácter personal.
    <p id="38">38 Véase la ley Nº 19.638 que establece normas sobre la constitución jurídica de las iglesias y organizaciones religiosas.
    <p id="39">39 Letra sustituida por el artículo 1º, Nº 10, letra c), Nº 1 de la ley de Reforma Constitucional Nº 20.050.Anteriormente había sido modificada por la ley de Reforma Constitucional Nº 19.055.
    <p id="40">40 Letra modificada por el artículo 1º, Nº 10, letra c), Nº 2 de la ley de Reforma Constitucional Nº 20.050.
    <p id="41">41 Véase el auto acordado que reglamenta el procedimiento para obtener la declaración previa de la acción indemnizatoria que concede esta letra de 24 de mayo de 1996.
    <p id="42">42 Véase la ley Nº 19.300, que aprueba la ley sobre bases generales del medio ambiente.
    <p id="43">43 Véase la ley Nº 18.469, que regula el ejercicio del derecho constitucional a la protección de la salud.
    <p id="44">44 Párrafo agregado por el artículo único de la ley de reforma constitucional Nº19.634, publicada en el D.O. el 2 de octubre de 1999; sustituido luego por el número 1 del artículo único de la ley de reforma constitucional N°20.162, publicada en el D.O. el 16 de febrero de 2007, y reemplazado por el que figura en el texto por el número 1 del artículo único de la ley N°20.710, de reforma constitucional, publicada en el D.O. el 11 de diciembre de 2013.
    <p id="45">45 Inciso sustituido por el artículo único de la ley de Reforma Constitucional Nº 19.876.
    <p id="46">46 Véase la ley Nº 18.962, orgánica constitucional de Enseñanza.
    <p id="47">47 Inciso modificado por el artículo único, Nº 5, de la ley de Reforma Constitucional Nº 18.825. Véase la ley Nº 18.838, que crea el Consejo Nacional de Televisión.
    <p id="48">48 Párrafo reemplazado por el artículo único, letra a) de la ley de Reforma Constitucional Nº 19.742.
    <p id="49">49 Véase la ley Nº 19.733, sobre libertad de opinión e información y ejercicio del periodismo.
    <p id="50">50 Véase la ley Nº 19.846, sobre Calificación de la Producción Cinematográfica. Véase el decreto supremo Nº 18, del Ministerio de Educación, que aprueba el Reglamento sobre Calificación de la Producción Cinematográfica.
    <p id="51">51 Véase el decreto supremo Nº1.086, del Ministerio del Interior, de 16 de septiembre de 1983.
    <p id="52">52 Oración que reemplaza la segunda oración del párrafo quinto del número 15°, del artículo 19, agregada por el artículo único, N° 2, de la ley de Reforma Constitucional N° 20.414.
    <p id="53">53 Inciso modificado por el artículo único, Nº 7, de la ley de Reforma Constitucional Nº 18.825. Véase la ley Nº 18.603, orgánica constitucional sobre partidos políticos.
    <p id="54">54 Inciso agregado por el artículo único, Nº 8 de la ley de Reforma Constitucional Nº 18.825.
    <p id="55">55 Inciso agregado por el artículo único, Nº 8 de la ley de Reforma Constitucional Nº 18.825.
    <p id="56">56 Inciso agregado por el artículo único, Nº 8 de la ley de Reforma Constitucional Nº 18.825.
    <p id="57">57 Párrafo agregado por el artículo 1º, Nº 10, letra d) de la ley de Reforma Constitucional Nº 20.050.
    <p id="58">58 Inciso modificado por el artículo único Nº 9 de la ley de Reforma Constitucional Nº 18.825.
    <p id="59">59 Inciso reemplazado por el artículo 2º de la ley de Reforma Constitucional Nº 19.097.
    <p id="60">60 Véase la ley Nº 18.971 que establece que cualquier persona podrá denunciar las infracciones al artículo 19 Nº 21 de la Constitución Política.
    <p id="61">61 Véase la ley Nº 18152 que declara el alcance de esta garantía constitucional, en materia de pensiones integrantes de un sistema de seguridad social.
    <p id="62">62 Véase el decreto ley Nº 2.186, de 1978, que aprueba la ley orgánica de Procedimientos de Expropiaciones.
    <p id="63">63 Véase la ley Nº 18.097, orgánica constitucional sobre Concesiones Mineras.
    <p id="64">64 Véase la “Convención de las Naciones Unidas sobre el Derecho del Mar”, sus Anexos III y IV, el Acuerdo relativo a la aplicación de la parte XI de la Convención, y la Declaración Interpretativa del Gobierno de Chile, depositada junto con el instrumento de ratificación de la referida Convención. Promulgados mediante decreto supremo Nº 1.393, de 1997, del Ministerio de Relaciones Exteriores.
    <p id="65">65 Párrafo sustituido por el artículo único, letra b) de la ley de Reforma Constitucional Nº 19.742.
    <p id="66">66 El inciso segundo de este número fue derogado por el artículo único, Nº 10 de la ley de Reforma Constitucional Nº 18.825.
    <p id="67">67 Referencia al inciso modificada por el artículo único, número 2 de la ley de Reforma Constitucional N° 20.516.
    <p id="68">68 Inciso modificado por el artículo 1º, Nº 11 de la ley de Reforma Constitucional Nº 20.050.
    <p id="69">69 Véase el Auto Acordado de la Corte Suprema, de 28 de agosto de 2015, sobre Tramitación del Recurso de Protección de Garantías Constitucionales.
    <p id="70">70 Véase el Auto Acordado de la Corte Suprema, de 19 de diciembre de 1932, sobre tramitación y Fallo del Recurso de Amparo.
    <p id="71">71 Inciso modificado por el artículo único, Nº 11, de la ley de Reforma Constitucional Nº 18.825.
    <p id="72">72 Véase el artículo 10, Nº 3, de la ley Nº 18.593, de los Tribunales Electorales Regionales.
    <p id="73">73 Véase el decreto supremo Nº 447, de 1984, del Ministerio del Interior, que crea el Consejo Asesor Económico y Social, dependiente del Ministerio de Interior, presidido por el Ministro del Interior.
    <p id="74">74 Inciso sustituido, como figura en el texto, por el artículo único de la ley N°21.011, publicada en el D.O. el 4 de mayo de 2017. Anteriormente había sido sustituido por el artículo 1º, Nº 12, de la ley de Reforma Constitucional Nº 20.050.
    <p id="75">75 Inciso sustituido por el artículo 1º, Nº 13, de la ley de Reforma Constitucional Nº 20.050.
    <p id="76">76 Inciso sustituido por el artículo 1º, Nº 13 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único de la ley de Reforma Constitucional Nº 18.825.
    <p id="77">77 Inciso modificado por el artículo único, Nº 1 de la ley de Reforma Constitucional Nº 20.515.
    <p id="78">78 Inciso modificado por el artículo 1º, Nº 14, letra a) de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido reemplazado por el artículo único, Nº 1 de la ley de Reforma Constitucional Nº 19.643.
    <p id="79">79 Inciso modificado por el artículo único, letra a), de la ley de Reforma Constitucional N°20.354.
    <p id="80">80 Inciso modificado por el artículo único, N° 2, literal i), de la ley de Reforma Constitucional N°20.515.
    <p id="81">81 Inciso reemplazado por el artículo único Nº 1 de la ley de Reforma Constitucional Nº 19.643.
    <p id="82">82 Inciso modificado por el artículo único, Nº 2, literal ii), de la ley de Reforma Constitucional Nº 20.515.
    <p id="83">83 Inciso agregado por el artículo 1º, Nº 14, letra b) de la ley de Reforma Constitucional Nº 20.050.
    <p id="84">84 Inciso modificado por el artículo único, Nº 2, literal iii) de la ley de Reforma Constitucional Nº 20.515.
    <p id="85">85 Inciso agregado por el artículo 1º, Nº 14, letra b) de la ley de Reforma Constitucional Nº 20.050
    <p id="86">86 Inciso reemplazado por el artículo único, Nº 2, letra a) de la ley de Reforma Constitucional Nº 19.643.
    <p id="87">87 Inciso reemplazado por el artículo único, Nº 2, letra a) de la ley de Reforma Constitucional Nº 19.643 y posteriormente reemplazado por el artículo único, N° 3, de la ley de Reforma Constitucional N° 20.515.
    <p id="88">88 Inciso modificado por el artículo único, Nº 2, letra b) de la ley de Reforma Constitucional Nº 19.643.
    <p id="89">89 Inciso reemplazado por el artículo único, letra b), de la ley de Reforma Constitucional N° 20.354.
    <p id="90">90 Inciso sustituido por el artículo 1º, Nº 15 de la ley de Reforma Constitucional Nº 20.050.
    <p id="91">91 Frase intercalada por el artículo único, letra c) de la ley de Reforma Constitucional N° 20.354 y posteriormente reemplazada por el artículo único, N° 4, de la ley de Reforma Constitucional N° 20.515.
    <p id="92">92 Inciso modificado por el artículo único, Nº 12 de la ley de Reforma Constitucional Nº 18.825.
    <p id="93">93 Inciso modificado por el artículo único, letra d), de la ley de Reforma Constitucional N° 20.354 y posteriormente modificado por el artículo único, N° 5, de la ley de Reforma Constitucional N° 20.515.
    <p id="94">94 Artículo sustituido por el artículo 1º, Nº 16 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 13 de la ley de Reforma Constitucional Nº 18.825.
    <p id="95">95 Inciso agregado por el artículo único de la ley de Reforma Constitucional Nº 19.672.
    <p id="96">96 Inciso agregado por el artículo único de la ley de Reforma Constitucional Nº 19.672.
    <p id="97">97 Inciso agregado por el artículo único de la ley de Reforma Constitucional Nº 19.672.
    <p id="98">98 Inciso agregado por el artículo único de la ley de Reforma Constitucional Nº 19.672.
    <p id="99">99 El inciso cuarto de este artículo fue suprimido por el artículo 1º, Nº 17 de la ley de Reforma Constitucional Nº 20.050.
    <p id="100">100 Artículo modificado por el artículo único, Nº 14 de la ley de Reforma Constitucional Nº 18.825.
    <p id="101">101 Número reemplazado por el artículo 1º, Nº 18, letra a) de la ley de Reforma Constitucional Nº 20.050.
    <p id="102">102 Número modificado por el artículo único, Nº 15 de la ley de Reforma Constitucional Nº 18.825.
    <p id="103">103 Los primitivos números 5º y 6º fueron derogados por el artículo único, Nº 16 de la ley de Reforma Constitucional 18.825, y por el artículo 1º, Nº 18, letra b) de la ley de Reforma Constitucional Nº 20.050, respectivamente.
    <p id="104">104 Número modificado por el artículo 3º de la ley de Reforma Constitucional Nº 19.097 y, como figura en el texto, por el artículo único, número 1, de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="105">105 Modificado conforme al artículo 1º, Nº 41 de la Ley de Reforma Constitucional Nº 20.050. Anteriormente había sido sustituido por el artículo único, Nº 1 de la ley de Reforma Constitucional Nº 19.541 y por la ley de Reforma Constitucional Nº 19.519.
    <p id="106">106 Véase la ley Nº 18.050 que fija normas generales para la concesión de indultos.
    <p id="107">107 Inciso agregado por el artículo 1º, Nº 19 de la Ley de Reforma Constitucional Nº 20.050.
    <p id="108">108 Artículo agregado por el artículo único, N° 3, de la ley de Reforma Constitucional N° 20.414.
    <p id="109">109 Inciso modificado por el artículo único Nº 17 de la ley de Reforma Constitucional Nº 18.825.
    <p id="110">110 La ley orgánica constitucional a que hace mención este artículo es la ley Nº 18.575, cuyo texto refundido, coordinado y sistematizado, fue fijado por el decreto con fuerza de ley Nº 1/19.653, de 2001.
    <p id="111">111 Véase la ley Nº 19.880 que establece las bases de los procedimientos administrativos que rigen los actos de los órganos Administración del Estado.
    <p id="112">112 Véase la ley Nº 18.415 Orgánica Constitucional de los Estados de Excepción.
    <p id="113">113 Artículo sustituido por el artículo 1º Nº 20 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido sustituido por el artículo único Nº 18 de la ley de Reforma Constitucional Nº 18.825.
    <p id="114">114 Artículo sustituido por el artículo 1º, Nº 20 de la ley de Reforma Constitucional Nº 20.050.
    <p id="115">115 Artículo sustituido por el artículo 1º, Nº 20 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único Nº 19, 20, 21 y 22 de la ley de Reforma Constitucional Nº 18.825.
    <p id="116">116 Artículo sustituido por el artículo 1º, Nº 20 de la ley de Reforma Constitucional Nº 20.050.
    <p id="117">117 Artículo sustituido por el artículo 1º, Nº 20 de la ley de Reforma Constitucional Nº 20.050.
    <p id="118">118 Artículo sustituido por el artículo 1º, Nº 20 de la ley de Reforma Constitucional Nº 20.050.
    <p id="119">119 Artículo sustituido por el artículo 1º, Nº 20 de la ley de Reforma Constitucional Nº 20.050.
    <p id="120">120 Véase la ley Nº 18.918, orgánica constitucional del Congreso Nacional.
    <p id="121">121 Inciso sustituido, por el que figura en el texto, por el artículo único, número 1, de la ley de reforma constitucional N°20.725, en materia de integración de la Cámara de Diputados, publicada en el D.O. el 15 de febrero de 2014.
    <p id="122">122 Véase el Título Final de la ley Nº 18.700 Orgánica Constitucional sobre Votaciones Populares y Escrutinios.
    <p id="123">123 Inciso modificado por el artículo único Nº 23 de la ley de Reforma Constitucional Nº 18.825.
    <p id="124">124 Artículo modificado por el artículo único Nº 24 de la ley de Reforma Constitucional Nº 18.825.
    <p id="125">125 Inciso modificado por el artículo único, N° 1, letra a) de la ley de Reforma Constitucional N° 20.390.
    <p id="126">126 Inciso reemplazado por el artículo 1º, Nº 1, letra b) de la ley de Reforma Constitucional Nº 20.390.
    <p id="127">127 Artículo sustituido por el artículo 1º, Nº 22 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 27 de la ley de Reforma Constitucional Nº 18.825.
    <p id="128">128 Artículo modificado por el artículo 1º, Nº 23 letras a), b) y c) de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 28 de la ley de Reforma Constitucional Nº 18.825.
    <p id="129">129 Número sustituido por el artículo 1º, Nº 24 de la ley de Reforma Constitucional Nº 20.050.
    <p id="130">130 Sustituida esta letra por el artículo único, N° 2 de la ley de Reforma Constitucional N° 20.390, y luego modificada, como figura en el texto, por el artículo único, número 2, letra a), de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2016.
    <p id="131">131 Párrafo modificado, como figura en el texto, por el artículo único, número 2, letra b), de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2016.
    <p id="132">132 Párrafo modificado, como figura en el texto, por el artículo único, número 3, de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2016.
    <p id="133">133 Número modificado por el artículo 1º, Nº 25 letra a) de la ley de Reforma Constitucional Nº 20.050.
    <p id="134">134 Número modificado por el artículo único, Nº 6 de la ley de Reforma Constitucional Nº 20.515.
    <p id="135">135 Número modificado por el artículo 1º, Nº 25 letra a) de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único Nº 3, letra a) de la ley de Reforma Constitucional Nº 19.519 y por el artículo único, Nº 29 de la ley de Reforma Constitucional Nº 18.825.
    <p id="136">136 Número sustituido por el artículo único, Nº 2, de la ley de Reforma Constitucional Nº 19.541. Anteriormente había sido agregado por el artículo único, Nº 3, letra b) de la ley de Reforma Constitucional Nº 19.519.
    <p id="137">137 Inciso reemplazado por el artículo único, Nº 30 de la ley de Reforma Constitucional Nº 18.825.
    <p id="138">138 Artículo sustituido por el artículo 1º, Nº 26 de la ley de Reforma Constitucional Nº 20.050.
    <p id="139">139 El anterior artículo 51 de este párrafo, fue derogado por la ley de Reforma Constitucional Nº 20.050.
    <p id="140">140 Artículo reemplazado por el artículo 1º, Nº 28 de la ley de Reforma Constitucional Nº 20.050.
    <p id="141">141 Véase el Reglamento del Senado y de la Cámara de Diputados aprobados por Resolución del 9 de febrero de 1998 (Diario Oficial del 23 de febrero de 1998).
    <p id="142">142 Artículo agregado por el artículo único de la ley N°20.854, publicada en el Diario Oficial el 21 de julio de 2015.
    <p id="143">143 Número modificado, como figura en el texto, por el artículo único, número 4 de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017. Anteriormente había sido sustituido por el artículo 4º de la ley de Reforma Constitucional Nº 19.097, y luego modificado por el artículo 1º, Nº 29, letra a), de la ley de Reforma Constitucional Nº 20.050 y por el artículo único, N° 3, de la ley de Reforma Constitucional N° 20.390.
    <p id="144">144 Número modificado por el artículo único Nº 4, letra a) de la ley de Reforma Constitucional Nº 19.519.
    <p id="145">145 Número modificado por el artículo único Nº 4, letra b) de la ley de Reforma Constitucional Nº 19.519.
    <p id="145">146 Número modificado por el artículo 1º, Nº 29, letra b) de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 4, letra c) de la ley de Reforma Constitucional Nº 19.519.
    <p id="145">147 Número modificado por el artículo 1º, Nº 29, letra c) de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido agregado por el artículo único, Nº 4, letra d) de la ley de Reforma Constitucional Nº 19.519.
    <p id="145">148 Número agregado por el artículo 1º, Nº 29 letra d) de la ley de Reforma Constitucional Nº 20.050.
    <p id="145">149 Frase incorporada por el artículo único, Nº 4, letra e) de la ley de Reforma Constitucional Nº 19.519.
    <p id="145">150 Inciso reemplazado por el artículo único, Nº 31 de la ley de Reforma Constitucional Nº 18.825.
    <p id="145">151 Inciso reemplazado por el artículo 1º, Nº 30 de la ley de Reforma Constitucional Nº 20.050.
    <p id="145">152 Inciso sustituido por el artículo 1º, Nº 31 de la ley de Reforma Constitucional Nº 20.050.
    <p id="145">153 Inciso modificado por el artículo único, N° 4, de la ley de Reforma Constitucional N° 20.414.
    <p id="145">154 Inciso modificado por el artículo único, N° 4, de la ley de Reforma Constitucional N° 20.414.
    <p id="145">155 Inciso modificado por el artículo único, Nº 32 de la ley de Reforma Constitucional Nº 18.825.
    <p id="145">156 Inciso modificado por el artículo único, Nº 34 de la ley de Reforma Constitucional Nº 18.825.
    <p id="146">157 Inciso incorporado por el artículo único, letra a), de la ley de Reforma Constitucional N° 20.870, publicada en el Diario Oficial el 16 de noviembre de 2015.
    <p id="147">158 El primitivo inciso 6º de este artículo fue derogado por el artículo único, Nº 33 de la ley de Reforma Constitucional Nº 18.825.
    <p id="149">159 Inciso agregado por el artículo 1º, Nº 32 de la ley de Reforma Constitucional Nº 20.050.
    <p id="150">160 Inciso modificado por el artículo 1º, Nº 33 de la ley de Reforma Constitucional Nº 20.050.
    <p id="161">161 Inciso modificado por el artículo 1º, Nº 33 de la ley de Reforma Constitucional Nº 20.050.
    <p id="162">162 Véase la ley Nº 19.067 que establece normas permanentes sobre entrada de tropas extranjeras en el territorio de la República y salida de tropas nacionales del mismo.
    <p id="163">163 Véase la ley Nº 18.050 que fija normas generales para la concesión de indultos.
    <p id="164">164 Párrafo 2º agregado por el artículo único, Nº 3 de la ley de Reforma Constitucional Nº 19.055.
    <p id="165">165 Véase la ley Nº 18.678 que dispone que el Congreso Nacional tendrá su sede y celebrará sus sesiones en la ciudad de Valparaíso.
    <p id="166">166 Inciso intercalado por el artículo 1º, Nº 34 de la ley de Reforma Constitucional Nº 20.050.
    <p id="167">167 Número sustituido por el artículo único Nº 1 de la ley de Reforma Constitucional Nº19.526.
    <p id="168">168 Número modificado por el artículo 5º de la ley de Reforma Constitucional Nº 19.097.
    <p id="169">169 Artículo reemplazado por el artículo único, Nº 35 de la ley de Reforma Constitucional Nº 18.825.
    <p id="170">170 Véase la ley de 6 de julio de 1878, que determina cómo deben computarse las fracciones en votaciones o quórum de corporaciones, sea para tomar acuerdos o celebrar sesiones.
    <p id="171">171 Véase el decreto ley Nº 1.263, de 1975, ley Orgánica de Administración Financiera del Estado.
    <p id="172">172 Artículo modificado por el artículo único, Nº 36 de la ley de Reforma Constitucional Nº 18.825.
    <p id="173">173 Inciso modificado por el artículo único, Nº 37 de la ley de Reforma Constitucional Nº 18.825.
    <p id="174">174 Inciso modificado por el artículo único, Nº 38 de la ley de Reforma Constitucional Nº 18.825.
    <p id="175">175 Inciso reemplazado por el artículo 1º, Nº 35 de la ley de Reforma Constitucional Nº 20.050.
    <p id="176">176 Inciso modificado por el artículo único, Nº 5 de la ley de Reforma Constitucional Nº 19.519.
    <p id="177">177 El inciso 2º de este artículo fue reemplazado por los actuales incisos 2º, 3º, 4º, 5º y 6º conforme a lo dispuesto por el artículo único de la ley de Reforma Constitucional Nº 19.597.
    <p id="178">178 Inciso agregado por el artículo único de la ley de Reforma Constitucional N° 20.245.
    <p id="179">179 El inciso segundo de este artículo fue reemplazado por los actuales incisos 2º, 3º, 4º y 5º conforme a lo dispuesto por el artículo único, Nº 3, letra a) de la ley de Reforma Constitucional Nº 19.541. Anteriormente el inciso 2º de este artículo había sido modificado por el artículo único, Nº 6 de la ley de Reforma Constitucional Nº 19.519.
    <p id="180">180 El inciso 2º de este artículo fue reemplazado por los actuales incisos 2º, 3º, 4º y 5º conforme a lo dispuesto en el artículo único, Nº 3, letra a) de la ley de Reforma Constitucional Nº 19.541.
    <p id="181">181 El inciso 2º de este artículo fue reemplazado por los actuales incisos 2º, 3º, 4º y 5º conforme a lo dispuesto en el artículo único, Nº 3, letra a) de la ley de Reforma Constitucional Nº 19.541.
    <p id="182">182 El inciso 2º de este artículo fue reemplazado por los actuales incisos 2º, 3º, 4º y 5º conforme a lo dispuesto en el artículo único, Nº 3, letra a) de la ley de Reforma Constitucional Nº 19.541.
    <p id="183">183 Inciso modificado por el artículo único, Nº 6 de la ley de Reforma Constitucional Nº 19.519.
    <p id="184">184 Inciso agregado por el artículo único, Nº 3, letra b) de la ley de Reforma Constitucional Nº 19.541.
    <p id="185">185 Inciso modificado por el artículo único, Nº 3, letra c) de la ley de Reforma Constitucional Nº 19.541.
    <p id="186">186 Inciso sustituido por el artículo único, Nº 4 de la ley de Reforma Constitucional Nº 19.541.
    <p id="187">187 Artículo modificado por el artículo único, Nº 6 de la ley de Reforma Constitucional Nº 19.519.
    <p id="188">188 Inciso modificado por el artículo 1º, Nº 36, letra a) de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 39 de la ley de Reforma Constitucional Nº 18.825.
    <p id="189">189 Inciso agregado por el artículo único, Nº 5 de la ley de Reforma Constitucional Nº 19.541.
    <p id="190">190 El inciso final de este artículo fue eliminado por el artículo 1º, Nº 36, letra b) de la ley de Reforma Constitucional Nº 20.050.
    <p id="191">191 El artículo final de este capítulo fue derogado por el artículo 1º, Nº 37 de la ley de Reforma Constitucional Nº 20.050.
    <p id="192">192 Capítulo agregado por el artículo único, Nº 7 de la ley de Reforma Constitucional Nº 19.519.
    <p id="193">193 Inciso modificado por el artículo 1º, Nº 38, letra a) de la ley de Reforma Constitucional Nº 20.050.
    <p id="194">194 Inciso agregado por el artículo 1º, Nº 38, letra b) de la ley de Reforma Constitucional Nº 20.050.
    <p id="195">195 Inciso modificado por el artículo 1º, Nº 39 de la ley de Reforma Constitucional Nº 20.050.
    <p id="196">196 Inciso modificado por el artículo 1º, Nº 40 de la ley de Reforma Constitucional Nº 20.050.
    <p id="197">197 Véase la ley Nº 17.997 Orgánica Constitucional del Tribunal Constitucional.
    <p id="198">198 Véase la disposición decimosexta transitoria de este texto.
    <p id="199">199 Artículo sustituido por el artículo 1º, Nº 41 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 6 de la ley de Reforma Constitucional Nº 19.541.
    <p id="200">200 Artículo reemplazado por el artículo 1º, Nº 42 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 40,41 y 42 de la ley de Reforma Constitucional Nº 18.825.
    <p id="201">201 Artículo sustituido por el artículo 1º, Nº 43 de la ley de Reforma Constitucional Nº 20.050.
    <p id="202">202 Epígrafe reemplazado, por el que figura en el texto, por el artículo único, Nº 1, de la ley de Reforma Constitucional N°20.860, publicada en el Diario Oficial el 20 de octubre de 2015.
    <p id="203">203 Artículo incorporado por el artículo único, Nº 2, de la ley de Reforma Constitucional N°20.860, publicada en el Diario Oficial el 20 de octubre de 2015.
    <p id="204">204 Inciso sustituido por el artículo único, Nº 3, letra a) de la ley de Reforma Constitucional Nº 19.643.
    <p id="205">205 Inciso modificado por el artículo único, Nº 3, letra b) de la ley de Reforma Constitucional Nº 19.643., cuyo artículo transitorio establece: “Las normas referidas a la integración del Tribunal Calificador de Elecciones regirán a partir del 31 de enero del año 2000.”.
    <p id="206">206 La ley a la que hace mención este inciso es la ley Nº 18.460. Véase el artículo final de la ley Nº 18.460, agregado por el artículo 1º, Nº 2 de la ley Nº 18.604 que fija la vigencia de este artículo.
    <p id="207">207 Inciso sustituido por el artículo 6º de la ley de Reforma Constitucional Nº 19.097.
    <p id="208">208 Los Tribunales Electorales Regionales a que se refiere este artículo se rigen por la ley Nº 18.593.
    <p id="209">209 Véase la ley Nº 10.336 Orgánica de la Contraloría General de la República, cuyo texto coordinado, sistematizado y refundido fue fijado por Decreto Nº 2421, de 1964, del Ministerio de Hacienda.
    <p id="210">210 Inciso sustituido por el artículo 1º, Nº 44 de la ley de Reforma Constitucional Nº 20.050.
    <p id="211">211 Véase la ley Nº 18.948, Orgánica Constitucional de las Fuerzas Armadas y la ley Nº 18.961 Orgánica Constitucional de Carabineros.
    <p id="212">212 Artículo sustituido por el artículo 1º, Nº 45 de la ley de Reforma Constitucional Nº 20.050.
    <p id="213">213 Inciso sustituido por el artículo único de la ley N° 20.503, de fecha 27 de abril de 2011. Véase el Decreto Supremo Nº 400, de 1978, del Ministerio de Defensa, que fija el texto refundido, coordinado y sistematizado de la ley Nº 17.798 sobre Control de Armas.
    <p id="214">214 Inciso sustituido por el artículo 1º, Nº 46 de la ley de Reforma Constitucional Nº 20.050.
    <p id="215">215 Inciso sustituido por el artículo único, Nº 43, de la ley de Reforma Constitucional Nº 18.825.
    <p id="216">216 Véase el decreto ley Nº 2.460, de 1979, Ley Orgánica de Policía de Investigaciones de Chile.
    <p id="217">217 Véase el Reglamento de Organización y Funcionamiento del Consejo de Seguridad Nacional.
    <p id="218">218 Artículo reemplazado por el artículo 1º, Nº 47 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nos 44 y 45 de la ley de Reforma Constitucional Nº 18.825.
    <p id="219">219 Artículo sustituido por el artículo 1º, Nº 48 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 46 de la ley de Reforma Constitucional Nº 18.825.
    <p id="220">220 Véase la ley Nº 18.840, Orgánica Constitucional del Banco Central de Chile.
    <p id="221">221 Véase el decreto con fuerza de ley Nº 1/19.653, de 2001, que fija que fija el texto refundido, coordinado y sistematizado de la ley Nº 18.575, Orgánica Constitucional de Bases Generales de la Administración del Estado; y la ley Nº 19.175, orgánica constitucional sobre Gobierno y Administración Regional, cuyo texto refundido fue fijado por decreto supremo Nº 291 de 1993.
    <p id="222">222 Inciso sustituido por el artículo 1º, Nº 49 de la ley de Reforma Constitucional Nº 20.050. Anteriormente había sido modificado por el artículo único, Nº 47 de la ley de Reforma Constitucional Nº 18.825.
    <p id="223">223 Artículo sustituido, por el que aparece en el texto, por el artículo único, número 5, de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017. Anteriormente había sido sustituido por el artículo 7º de la ley de Reforma Constitucional Nº 19.097.
    <p id="224">224 Artículo derogado por el artículo único, número 6, de la ley N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017. Previamente había sido sustituido por el artículo 7º de la ley de Reforma Constitucional Nº 19.097, y modificado por el artículo único, número 4, de la ley de Reforma Constitucional N° 20.390.
    <p id="225">225 Artículo sustituido por el artículo único, N° 5 de la ley de reforma constitucional N° 20.390.
    <p id="226">226 Inciso agregado por el artículo único, número 7, letra a), de la ley de reforma constitucional N°20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="227">227 Inciso agregado por el artículo único, número 7, letra a), de la ley de reforma constitucional N°20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="228">228 Inciso agregado por el artículo único, número 7, letra a), de la ley de reforma constitucional N°20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="229">229 Inciso quinto suprimido por el artículo único, número 7, letra b), de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 d enero de 2017.
    <p id="230">230 Artículo modificado, como figura en el texto, por el artículo único, número 8, de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017. Anteriormente había sido sustituido por el artículo 7º de la ley de Reforma Constitucional Nº 19.097 y por el artículo único, N° 6, de la de Reforma Constitucional N° 20.390.
    <p id="231">231 Inciso sustituido por el artículo único, N° 7 de la ley de Reforma Constitucional N° 20.390.
    <p id="232">232 Artículo sustituido por el artículo 7º de la ley de Reforma Constitucional Nº 19.097.
    <p id="233">233 Artículo agregado por el artículo único, número 9, de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="234">234 Inciso reemplazado, por el que aparece en el texto, por el artículo único, número 10, letra a), de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017. Anteriormente había sido sustituido por el artículo 8º de la ley de reforma constitucional Nº 19.097.
    <p id="235">235 Inciso modificado, como figura en el texto, por el artículo único, número 10, letra b), de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="236">236 Inciso derogado por el artículo único, N° 8, de la ley de Reforma Constitucional N° 20.390.
    <p id="237">237 Artículo modificado, como figura en el texto, por el artículo único, número 11, de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="238">238 Véase el decreto con fuerza de ley Nº 1/19.704, publicado en el Diario Oficial de 3 de mayo 2002, que fija el texto refundido de la ley Nº 18.695, Orgánica Constitucional de Municipalidades.
    <p id="239">239 Véase el decreto supremo Nº 2.385, de 1996, del Ministerio del Interior, que fija el texto refundido y sistematizado del decreto ley Nº 3.063, de 1979, sobre Rentas Municipales.
    <p id="240">240 Inciso sustituido por el artículo único de la ley de Reforma Constitucional N° 20.346.
    <p id="241">241 Artículo sustituido por el artículo único, Nº 2 de la ley de Reforma Constitucional Nº 19.526. Anteriormente, había sido sustituido por el artículo 10 de la ley de Reforma Constitucional Nº 19.097, modificado por el artículo único, Nº 48 de la ley de Reforma Constitucional Nº 18.825.
    <p id="242">242 Artículo sustituido por el artículo 10 de la ley de Reforma Constitucional Nº 19.097.
    <p id="243">243 Artículo reemplazado por el artículo único, Nº 3 de la ley de Reforma Constitucional Nº 19.526. Anteriormente, había sido sustituido por el artículo 10 de la ley de Reforma Constitucional Nº 19.097.
    <p id="244">244 Artículo incorporado por el artículo único, Nº 4 de la ley de Reforma Constitucional Nº 19.526. Anteriormente, había sido derogado por el artículo 11 de la ley de Reforma Constitucional Nº 19.097. Véase la disposición décima transitoria de este texto.
    <p id="245">245 Artículo sustituido por el artículo 10 de la ley de Reforma Constitucional Nº 19.097.
    <p id="245">246 Artículo sustituido por el artículo 12 de la ley de Reforma Constitucional Nº 19.097.
    <p id="247">247 Inciso agregado por el artículo único, N° 9 de la ley de Reforma Constitucional N° 20.390.
    <p id="248">248 Artículo sustituido por el artículo único, número 12, de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017. Previamente había sido reemplazado por el artículo único, N° 10, de la ley de Reforma Constitucional N° 20.390.
    <p id="249">249 Inciso modificado, como figura en el texto, por el artículo único, número 13, letra a), de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017. Anteriormente fue modificado por el artículo único, N° 11, de la ley de Reforma Constitucional N° 20.390.
    <p id="250">250 Inciso agregado por el artículo único, letra b), de la ley de Reforma Constitucional N° 20.870, publicada en el Diario Oficial el 16 de noviembre de 2015.
    <p id="251">251 Inciso agregado por el artículo único, letra b), de la ley de Reforma Constitucional N° 20.870, publicada en el Diario Oficial el 16 de noviembre de 2015, y modificado, como figura en el texto, por el artículo único, número 13, letra b), de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="252">252 Artículo sustituido por el artículo 12 de la ley de Reforma Constitucional Nº 19.097.
    <p id="253">253 Inciso modificado, como figura en el texto, por el artículo único, número 14, de la ley de reforma constitucional N° 20.990, publicada en el Diario Oficial el 5 de enero de 2017.
    <p id="254">254 Párrafo y artículo agregados por la Ley de Reforma Constitucional Nº20.193.
    <p id="255">255 Inciso incorporado por la Ley de Reforma Constitucional Nº20.573.
    <p id="256">256 Inciso modificado por el artículo único, Nº 49 de la ley de Reforma Constitucional Nº 18.825.
    <p id="257">257 Inciso sustituido por el artículo 1º, Nº 50 de la ley de Reforma Constitucional Nº 20.050.
    <p id="258">258 Inciso modificado por el artículo 1º, Nº 51, Nº 2 de la ley de Reforma Constitucional Nº 20.050.
    <p id="259">259 Inciso modificado por el artículo 1º, Nº 51, Nº 3 de la ley de Reforma Constitucional Nº 20.050. Anteriormente, había sido modificado por el artículo único, Nº 50 de la ley de Reforma Constitucional Nº 18.825.
    <p id="260">260 Inciso modificado por el artículo 1º, Nº 51, Nº 3 de la ley de Reforma Constitucional Nº 20.050. Anteriormente, había sido modificado por el artículo único, Nº 51 de la ley de Reforma Constitucional Nº 18.825.

    <p>DISPOSICIONES TRANSITORIAS
    <p id="261">261 Los primitivos incisos 1º y 2º fueron suprimidos por el artículo 1º, Nº 51, Nº 1 de la ley de Reforma Constitucional Nº 20.050. Anteriormente estos incisos habían sido sustituidos por el artículo único de la ley de Reforma Constitucional Nº 19.671.
    <p id="262">262 Inciso modificado por el artículo único, N° 7, de la ley de Reforma Constitucional N° 20.515.
    <p id="263">263 Los artículos penúltimo y final de este capítulo fueron derogados por el artículo 1º, Nº 52, de la ley de Reforma Constitucional Nº 20.050.
    <p id="264">264 Las primitivas disposiciones cuarta, octava a trigésima, trigésima segunda a trigésima quinta y cuadragésima transitorias fueron derogadas por el artículo 1º, Nº 53 de la ley de Reforma Constitucional Nº 20.050.
    <p id="265">265 Véase el Código de Minería aprobado por la ley Nº 18.248.
    <p id="266">266 Disposición transitoria agregada por el artículo único, Nº 4 de la ley de Reforma Constitucional Nº 19.055.
    <p id="267">267 Disposición transitoria agregada por el artículo único, Nº 8 de la ley de Reforma Constitucional Nº 19.519.
    <p id="268">268 Disposición transitoria agregada por el artículo único, Nº 8 de la ley de Reforma Constitucional Nº 19.519.
    <p id="269">269 Disposición agregada por el artículo único, Nº 5 de la ley de Reforma Constitucional Nº 19.526.
    <p id="270">270 Disposición agregada por el artículo único, Nº 8 de la ley de Reforma Constitucional Nº 19.541.
    <p id="271">271 Disposición incorporada por el artículo 1º, Nº 54 de la ley de Reforma Constitucional Nº 20.050.
    <p id="272">272 Este inciso y el inciso tercero que venía a continuación fueron sustituidos, por el que figura en el texto, por el N° 2 del artículo único de la ley de reforma constitucional N°20.725, en materia de integración de la Cámara de Diputados, publicada en el D.O. el 15 de febrero de 2014.
    <p id="273">273 Disposición incorporada por el artículo 1º, Nº 54 de la ley de Reforma Constitucional Nº 20.050
    <p id="274">274 Disposición incorporada por el artículo 1º, Nº 54 de la ley de Reforma Constitucional Nº 20.050
    <p id="275">275 Disposición incorporada por el artículo 1º, Nº 54 de la ley de Reforma Constitucional Nº 20.050
    <p id="276">276 Disposición incorporada por el artículo 1º, Nº 54 de la ley de Reforma Constitucional Nº 20.050
    <p id="277">277 Disposición incorporada por el artículo 1º, Nº 54 de la ley de Reforma Constitucional Nº 20.050
    <p id="278">278 Disposición incorporada por el artículo 1º, Nº 54 de la ley de Reforma Constitucional Nº 20.050
    <p id="279">279 Disposición incorporada por el artículo 1º, Nº 54 de la ley de Reforma Constitucional Nº 20.050
    <p id="280">280 La disposición vigésimoprimera transitoria fue agregada por el número 2 del artículo único de la ley de reforma constitucional N°20.162, publicada en el D.O. el 16 de febrero de 2007, y reemplazada por la que figura en el texto mediante el número 2 del artículo único de la ley de reforma constitucional N°20.710, publicada en el D.O. el 11 de diciembre de 2013.
    <p id="281">281 Disposición agregada por la ley de reforma constitucional N° 20.193.
    <p id="282">282 Disposición incorporada por el artículo único, N° 3 de la ley de reforma constitucional N° 20.337.
    <p id="283">283 Disposición incorporada por el artículo único de la ley de Reforma Constitucional N° 20.352.
    <p id="284">284 Disposición incorporada por el artículo único, N° 4, de la ley de reforma constitucional N° 20.414.
    <p id="285">285 Disposición agregada por el artículo único de la ley de Reforma Constitucional N°20.644, publicada en el Diario Oficial el 15 de diciembre de 2012.
    <p id="286">286 Disposición incorporada por el artículo único, Nº 3, de la ley de Reforma Constitucional N° 20.860, publicada en el Diario Oficial el 20 de octubre de 2015.
</div>

<div th:fragment="publicacion">
    <p>ANÓTESE, TÓMESE RAZÓN Y PUBLÍQUESE. 
    <ul class="articulo">
        <li>RICARDO LAGOS ESCOBAR, Presidente de la República; 
        <li>FRANCISCO VIDAL SALINAS, Ministro del Interior; 
        <li>IGNACIO WALKER PRIETO, Ministro de Relaciones Exteriores; 
        <li>JAIME RAVINET DE LA FUENTE, Ministro de Defensa Nacional; 
        <li>NICOLÁS EYZAGUIRRE GUZMÁN, Ministro de Hacienda; 
        <li>EDUARDO DOCKENDORFF VALLEJOS, Ministro Secretario General de la Presidencia;
        <li>OSVALDO PUCCIO HUIDOBRO, Ministro Secretario General de Gobierno; 
        <li>JORGE RODRÍGUEZ GROSSI, Ministro de Economía, Fomento y Reconstrucción y Presidente de la Comisión Nacional de Energía; 
        <li>YASNA PROVOSTE CAMPILLAY, Ministra de Planificación y Cooperación; 
        <li>SERGIO BITAR CHACRA, Ministro de Educación; 
        <li>LUIS BATES HIDALGO, Ministro de Justicia; 
        <li>YERKO LJUBETIC GODOY, Ministro del Trabajo y Previsión Social; 
        <li>JAIME ESTEVEZ VALENCIA, Ministro de Obras Públicas y de Transportes y Telecomunicaciones; 
        <li>PEDRO GARCÍA ASPILLAGA, Ministro de Salud; 
        <li>SONIA TSCHORNE BERESTESY, Ministra de Vivienda y Urbanismo y de Bienes Nacionales; 
        <li>JAIME CAMPOS QUIROGA, Ministro de Agricultura; 
        <li>ALFONSO DULANTO RENCORET, Ministro de Minería.
    </ul>
</div>